#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #02152e;
    overflow-y: hidden;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9999;
}

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #353849;  
    border-radius: 50%;
    transition: 0.5s;  
}
#header .profile img:hover{
    border: 8px solid #00bd94;      
}

#header .profile h1{
    font: size 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

#header .profile .social-links a{
    font-size: 1rem;
    background: #353849;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
   
}

#header .profile .social-links a:hover{
    background: #00bd94;
    
}

.nav-menu{
    padding: 1.rem;
}
.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
    font-size: 15px;
    
}

.nav-menu a i,
.nav-menu a:focus i{
    margin-right: 0.8rem;
    color: #6f7180;
    
    
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a{
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i{
    color: #00bd94;

}

.logo{
    width: 60%;
    height: 60%;
    padding-top: 350px;
    margin-left: 45px;

}
@media(max-width:1700px){
    .logo{
    width: 55%;
    height: 55%;


        padding-top: 280px;
    
    }
}

@media (max-width:1424px){
    #header{
        left: -300px;
    }
}