@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: Ubuntu, Arial;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #02152e;
  width: 300px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 9999;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #353849;
  border-radius: 50%;
}

#header .profile h1 {
  font: size 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

#header .profile .social-links a {
  font-size: 1rem;
  background: #353849;
  color: #fff;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
}

#header .profile .social-links a:hover {
  background: #00bd94;
}

.nav-menu {
  padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a svg,
.nav-menu a:focus svg {
  margin-right: 0.8rem;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover svg,
.nav-menu .active svg,
.nav-menu .active:focus svg,
.nav-menu li:hover > a svg {
  color: #00bd94;
}

nav .logotipo {
  width: 150px;
  height: 160px;
  margin-top: 135px;
}

@media (max-width: 1424px) {
  #header {
    left: -300px;
  }
}

#main {
  margin-left: 300px;
}

.shapedividers_com-3747 {
  overflow: hidden;
  position: relative;
}

.shapedividers_com-3747::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  transform: scaleX(4.2);
  transform-origin: 100% 0;
  animation: 11s infinite alternate shape-anim-3747-mobile linear;
  background-size: 100% 92px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%2302152e"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%2302152e"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%2302152e"/></svg>');
}

@keyframes shape-anim-3747-mobile {
  100% {
    transform: scaleX(4.2) translateX(calc(100% - (100% / 4.2)));
  }
}

@media (min-width: 768px) {
  .shapedividers_com-3747::before {
    transform: scaleX(4.2);
    transform-origin: 100% 0;
    animation: 11s infinite alternate shape-anim-3747-mobile linear;
    background-size: 100% 92px;
    background-position: 50% 0%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-3747::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    transform: scaleX(10);
    transform-origin: 100% 100%;
    animation: 5s infinite alternate shape-anim-3747 linear;
    background-size: 100% 57px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23f7fafc"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23f7fafc"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23f7fafc"/></svg>');
  }
}

@media (min-width: 2100px) {
  .shapedividers_com-3747::before {
    background-size: 100% calc(2vw + 57px);
  }
}

.theme-dark .shapedividers_com-3747::before {
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23394450"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23394450"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23394450"/></svg>');
}

@keyframes shape-anim-3747 {
  100% {
    transform: scaleX(10) translateX(calc(100% - (100% / 10)));
  }
}

section#inicio {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
}

section#inicio h2 {
  font-size: 6rem;
}

section#inicio span#subtitle {
  margin-right: 8rem;
  font-size: 1.5rem;
}

.text-shadow {
  text-shadow: 4px 4px 10px #000000;
}
.shadowx {
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

section#inicio div#arraste {
  width: 9rem;
}

section#inicio div#arraste a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 15px;
}

i.menu-mobile {
  position: fixed;
  color: #fff;
  background-color: #02152e;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-nav-active {
  overflow: hidden;
}
.menu-nav-active #header {
  left: 0;
}

@media (max-width: 1424px) {
  #header {
    left: -300px;
  }
  #footer {
    transition: all ease-in-out 0.5s;

    position: fixed;
    left: -300px;
  }

  i.menu-mobile {
    display: flex;
  }
  section#inicio h2 {
    font-size: 3.5rem;
  }
  section#inicio span#subtitle {
    margin-right: 0px;
    font-size: 1rem;
  }
  #main {
    margin-left: 0;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}

.cardx {
  border-radius: 22px;
  background: #eff5ff;
  box-shadow: 20px 20px 60px #c0c0c0c4, -20px -20px 60px #ffffff93;
}
.egide {
  color: #212529;
}
.egide:hover {
  color: #03aa86;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem #00000050;
  background: #fff; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #02152e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.section-bg {
  background-color: #eff5ff;
}
.progress-bar {
  background-color: #353849 !important;
  border-radius: none;
}

.bar1 {
  width: 70%;
}
.bar2 {
  width: 75%;
}
.bar3 {
  width: 60%;
}
.bar4 {
  width: 70%;
}
.bar5 {
  width: 70%;
}
.bar6 {
  width: 30%;
}
.bar7 {
  width: 50%;
}
.bar8 {
  width: 85%;
}
.bar9 {
  width: 95%;
}
.bar10 {
  width: 75%;
}
.bar11 {
  width: 88%;
}
.bar12 {
  width: 60%;
}
.bar13 {
  width: 80%;
}
.bar14 {
  width: 90%;
}

.cv .cv-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #02152e;
}
.cv .cv-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #02152e;
  position: relative;
}
.cv .cv-item h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.cv .cv-item h5 {
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.cv .cv-item::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border: 2px solid #02152e;
  background: #fff;
  border-radius: 50%;
  left: -9px;
}

.theme-dark .cv-item {
  border-left: 2px solid #fff;
}
.theme-dark .cv .cv-item::before {
  border: 2px solid #fff;
  background: var(--dark-background);
}

.carousel-control-next {
  margin-right: -1rem !important;
}
.carousel-control-prev {
  margin-left: -1rem !important;
}

.carousel {
  display: flex;
  justify-content: center;
}
.carousel-inner {
  width: 55%;
  height: 55%;
}
.carousel-indicators {
  margin-bottom: -2rem !important;
}
.carousel-item > img {
  cursor: pointer;
  filter: blur(0px) !important;
  transition: 0.4s;
  z-index: 50;
}
.hha {
  background: linear-gradient(to right, #111 30%, transparent 70%);
  z-index: 9999;
}
.carousel-item > img:hover {
  filter: blur(5px) !important;
}
.blur {
  filter: blur(5px) !important;
}
.carousel-caption {
  filter: blur(0px) !important;

  z-index: 51;
}

.carousel-caption {
  bottom: -8px;
  transition: 0.3s;
}
.carousel-item:hover > .carousel-caption {
  bottom: 0px;
}

.carousel-item > .carousel-caption > h5 {
  opacity: 0;
  transition: 0.4s;
}
.carousel-item > .carousel-caption > div {
  opacity: 0;
  transition: 0.4s;
}
.carousel-item:hover > .carousel-caption > div {
  opacity: 1;
}

.carousel-item:hover > .carousel-caption > h5 {
  opacity: 1;
}
.carousel-item > .carousel-caption > p {
  opacity: 0;
  transition: 0.4s;
}

.carousel-item:hover > .carousel-caption > p {
  opacity: 1;
}

@media (max-width: 1424px) {
  .carousel-control-next {
    margin-right: 0rem !important;
  }
  .carousel-control-prev {
    margin-left: 0rem !important;
  }
  .carousel-inner {
    width: 55%;
    height: 55%;
  }
}

@media (max-width: 993px) {
  .carousel-inner {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 790px) {
  .carousel-inner {
    width: 85%;
    height: 85%;
  }

  .carousel-control-next {
    margin-right: -12px !important;
  }

  .carousel-control-prev {
    margin-left: -12px !important;
  }

  [data-aos="fade-left"] {
    transform: translate3d(-100%, 0, 0);
  }
}

.hvr-sweep-to-right {
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  border: 0px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 7px;
  border-radius: 5px;
  background: #050d18;
}

.hvr-sweep-to-right:after {
  vertical-align: middle;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #03aa86;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  border-radius: 5px;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: 5px;
}

.theme-dark .hvr-sweep-to-right:before {
  background: #404974;
  border: 0px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: #03aa86;
}

.btn-outline-primary,
.btn-outline-dark {
  color: #35384952;
}

.btn-outline-primary:hover,
.btn-outline-dark:hover {
  color: #fff;
  background-color: #02152e;
  border-color: #212529;
}

.btn-outline-primary.a,
.btn-outline-dark.a {
  color: #c2c1c18f;
  border-color: #02152e;
}

.btn-outline-primary.a:hover,
.btn-outline-dark.a:hover {
  color: #fff;
  background-color: #02152e;
  border-color: #212529;
}

.btn-primary {
  border-color: #02152e;
  background-color: #02152e !important;
  color: #fff;
  transition: 0.4s !important;
}

.btn-primary:hover {
  border-color: #00bd94 !important;
  background-color: #00bd94 !important;
  border-color: #212529;
}

.form-control {
  border: solid 0px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e3ecf4;
  transition: 0.27s;
}

.form-control:focus-visible {
  background-color: #e7f0f6;
  box-shadow: 0 0 7px 0.2rem rgb(2 21 46 / 15%);
}

.form-control.fill:focus-visible {
  background-color: #a7e2c0b6;
  box-shadow: 0 0 7px 0.2rem rgb(2 21 46 / 15%);
}

.theme-dark .form-control {
  background-color: #3f4953 !important;
  transition: 0.27s;
}

.theme-dark .form-control:focus-visible {
  background-color: #404974 !important;
  box-shadow: 0 0 7px 0.2rem rgb(2 21 46 / 15%);
  transition: 0.2s;
}

.theme-dark .form-control.fill {
  background-color: #a7e2c0b6 !important;
  box-shadow: 0 0 7px 0.2rem rgb(2 21 46 / 15%);
  transition: 0.27s;
}

.form-control.l {
  height: 90px;
}
.fill {
  background-color: #a7e2c0b6;
}
.theme-dark .fill {
  background-color: #a7e2c0b6;
}

.btn-primary:after {
  content: "➤";
  margin-left: 5px;
}

.bi-whatsapp {
  font-size: 1.6rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #53cf5d96;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.35s;
}

.bi-whatsapp:hover {
  background-color: #02152e;
  border-radius: 50%;
  color: #53cf5d;
}

.theme-dark .bi-whatsapp:hover {
  background-color: #53cf5d;
  color: #000000;
}

#footer {
  padding: 15px;
  color: #fff;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 999999;
  background-color: #02152e;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 1424px) {
  #footer {
    position: static;
    width: auto;
    padding: 20px 15px;
  }
  .bi-whatsapp {
    color: #53cf5dec;
  }
}

.theme-light body {
  transition: 0.2s;
}
.theme-dark body {
  color: #fff !important;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: 0.2s;
}
.theme-dark h4 {
  color: #fff !important;
}
.theme-dark h5 {
  color: #000 !important;
}
.theme-dark label {
  color: #fff !important;
}

.theme-dark .cv-title {
  color: #fff !important;
}
.theme-dark .list-group-item {
  color: #fff;
  background: transparent;
}
.list-group-item {
  background: transparent;
}

.theme-dark {
  --dark-text: #292929;
  --light-background: #586f7c;
  --accent: #b8dbd9;
  --button-border: #b8dbd9;
  --light-text: #f9f8f8;
  transition: 0.3s;
}
.theme-dark .section-bg {
  color: #fff;
  background-color: #333c66;
}
.theme-dark .card {
  background-color: var(--dark-background) !important;
}

.theme-dark .btn-primary {
  border-color: #03aa86 !important;

  background-color: #03aa86 !important;
  border-color: #212529;
  color: #fff;

  transition: 0.4s !important;
}

.theme-dark .btn-primary:hover {
  border-color: #6b7abb !important;

  background-color: #6b7abb !important;
  color: #fff;
}

.theme-dark .form-control {
  background-color: #484a4d;
  color: #fff;
}
.theme-dark .cardx {
  box-shadow: 20px 20px 60px #1d1d1d9c, -20px -20px 60px #05050583;
}

.theme-dark .shadowx {
  box-shadow: 20px 20px 60px #1d1d1d7c, -20px -20px 60px #0505056c;
}
